

{% extends "base.html" %}
{% load static %}

{% block content %}


    {% if perms.definitionssoftware.access_paid_definitions_app %}

        <script src='{% static "definitionssoftware/js/definitionssoftware.js" %}'></script>


        <div class="defi-toolbar">

            <div class="defi-toolbar-buttons">
            <button class="defi-btn-primary js-create-term" data-url="{% url 'term_create' %}">New term</button>
            <div>
                <button class="defi-btn-secondary" onclick="defiExpand()">Expand all</button>
                <button class="defi-btn-secondary" onclick="defiCollapse()">Collapse all</button>
            </div>
            </div>

        </div>


        <div class="defi-software-section">


            <div class="defi-software-app">


                {% include 'definitionssoftware/includes/partial_term_list.html' %}


                <div style="height: 800px"></div>

            </div>
        </div>


        <div class="modal fade" id="modal-term">
            <div class="modal-dialog">
                <div class="modal-content">

                </div>
            </div>
        </div>




    {% endif %}


{% endblock %}


{% block postload_js %}
{% endblock %}
