

{% extends "base.html" %}
{% load static %}

{% block content %}


    {% if perms.definitionssoftware.access_paid_definitions_app %}

        <div class="defi-toolbar">

            {#                <h1 class="page-header">My Terms</h1>#}
            <button class="defi-btn-primary">New term</button>

        </div>


        <div class="defi-software-section">


            <div class="defi-software-app">


                {% for term in terms %}

                    <div class="term-defi-container">

                        <div class="defi-term">
                            <details>
                                <summary>{{ term.term }}</summary>
                                <p>{{ term.definition }}</p>
                            </details>
                        </div>


                        <div class="term-defi-btn-container">
                            <button type="button"
                                    class="btn btn-outline-primary btn-sm js-update-term term-btn">
                                <i class="fas fa-edit"></i>
                                Edit
                                {#                                data-url="{% url 'term_update' term.id %}">#}
                            </button>
                            <button type="button"
                                    class="btn btn-outline-secondary btn-sm js-delete-term term-btn">
                                {#                                data-url="{% url 'term_delete' term.id %}">#}
                                <i class="fas fa-trash-alt"></i> Delete
                            </button>

                        </div>

                    </div>

                    <hr>

                {% empty %}
                    <div></div>
                {% endfor %}


                <div style="height: 800px"></div>

            </div>
        </div>







    {% endif %}

{% endblock %}
