body {
  font-family: 'DM Sans', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 20px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
}

.nav-link {
  color: black !important;
}