

{% extends "base.html" %}
{% load static %}


{% block content %}

    {% if perms.blog.publish_blog_posts %}

        <div class="defi-toolbar">
            <a class="defi-btn-primary" href="{% url 'create_blog' %}">New blog post</a>
        </div>

    {% endif %}

    <div class="blog-section">

        <div class="blogs-container">


            {% for blog in blogs %}

                <div class="blog-post">

                    <div>
                        <h2>{{ blog.blog_heading }}</h2>
                        <h6>{{ blog.created_on }}</h6>
                        <p>{{ blog.blog }}</p>
                    </div>

                </div>

                <hr>

            {% empty %}
                <div>No blogs currently posted.</div>
            {% endfor %}


        </div>

    </div>

{% endblock %}
