

{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'payment/css/payment.css' %}">
{% endblock %}



{% block content %}

    {#    <div class="hero-section">#}
    {#        <h1 class="hero-heading">Definitions App</h1>#}
    {#        <h5 class="hero-subhead">A place to store and view all the terms and definitions you learn.</h5>#}
    {#        <a id="hero-button" href="{% url 'account_signup' %}" class="button w-button">Sign Up!</a>#}
    {#        <small>Existing users sign in below:</small>#}
    {#        <a class="button defi-btn-secondary" href="{% url 'account_login' %}">Login</a>#}
    {#    </div>#}

    <h1>Success!</h1>

{% endblock %}


