

{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'payment/css/payment.css' %}">
{% endblock %}



{% block content %}

    <div style="display: flex; max-width: 720px; margin: auto;">
        <div class="hero-section">
            <h1>Success!</h1>

            <p>Thank you for your payment.</p>
            <p>You now have access to use the definitions app on your devices and your terms will be available on the
                cloud.</p>
            <a class="button defi-btn-primary" href="{% url 'view_definitionssoftware' %}">Definitions App</a>

        </div>
    </div>

{% endblock %}


